body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    background-color: white;
}

a {
    text-decoration: none;
}
a h1 {
    padding-left: 20px;
    color: #FFAA00;
    background-color: #A66F00;
    margin-bottom: 0px;
}

#content {
    background-color: #5CCCCC;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 20px 30px;
    padding-bottom: 400px;
}

label {
    padding-top: 5px;
    color: #006363;
}


input[type="text"],
input[type="password"] {
    background-color: white;
    border: 2px solid #FFB273;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
    margin-left: 20px;
}


.errors {
    color: #006363;
    background-color: #FFAA00;
    list-style: none;
    border:2px solid #FF0000;
    width: 486px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 2px 5px;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

dt + input[type="checkbox"] {
    display: inline;
}


textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}

.age {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}
